spring:
  application:
    name: library-gateway

server:
  port: ${PORT:80}
    
zuul:
  ignored-services: '*'
  routes:
    library-member: 
      path: /member/**
      url: http://35.194.1.202:10101
    library-book: 
      path: /book/**
      url: http://35.184.245.150:10201
    library-rental: 
      path: /rental/**
      url: http://34.68.161.170:10301      
    library-notice: 
      path: /notice/**
      url: http://34.68.136.22:10401  

ribbon:
  retryable: true
  MaxAutoRetries: 0
  MaxAutoRetriesNextServer: 1
  OkToRetryOnAllOperations: true
  ConnectTimeout: 30000
  ReadTimeout: 30000 